html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %trebuchetms-700;
  color: $light;
}

input,
button {
  border: none;
}

button {
  cursor: pointer;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  line-height: 19px;
  color: $grey-color;
}

.title {
  font-size: 32px;
  line-height: 37px;
  color: $title;
}

.hero-title {
  font-size: 14px;
  line-height: 16px;
  @extend %trebuchetms-400;
  color: inherit;
}

.hero-text {
  font-size: 28px;
  line-height: 33px;
  color: inherit;
}

.catalog-link {
  font-size: 18px;
  line-height: 21px;
  color: $light;
}

.card-text {
  font-size: 11px;
  line-height: 13px;
  color: $grey-color;
  @extend %trebuchetms-400;
}

.card-price {
  font-size: 21px;
  line-height: 24px;
  color: $grey-color;
}

.events-title {
  font-size: 19px;
  line-height: 22px;
  @extend %trebuchetms-700;
  color: $orange-color;
}

.events-date {
  font-size: 16px;
  line-height: 21px;
  @extend %opensans-400;
}

.descr {
  font-size: 16px;
  line-height: 21px;
  @extend %trebuchetms-400;
}

.footer-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  color: inherit;
  margin-bottom: 9px;
}

.footer-link {
  line-height: 20px;
  @extend %trebuchetms-400;
  color: inherit;
}

.btn {
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  background: linear-gradient(184.53deg, $orange-color 5.27%, $gradient-color 91.78%);
  border-radius: 9px;
}

.btn-transparent {
  background-color: transparent;
  border-radius: 9px;
  border: 1px solid $orange-color;
  font-size: 19px;
  line-height: 22px;
  color: $orange-color;
}
