@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: $grey-color;
  padding-top: 23px;
  padding-bottom: 21px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-form {
      max-width: 475px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 48%;
      &__input {
        width: 475px;
        max-width: 100%;
        height: 38px;
        border-radius: 9px;
        border: 1px solid $border-color;
        padding: 12px;
        @extend %trebuchetms-400;
        font-size: 12px;
        line-height: 14px;
      }
      &__btn {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 7px;
        right: 11px;
        background-image: url("../images/header/icons/header-top-search.svg");
        background-repeat: no-repeat;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
  &-phone {
    max-width: 219px;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    &__tel {
      @extend %trebuchetms-700;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: $light;
    }
  }
  &-user {
    max-width: 77px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__shopping-cart {
      position: relative;
      &::after {
        width: 16px;
        height: 16px;
        position: absolute;
        content: "1";
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $orange-color;
        color: $light;
        @extend %opensans-700;
      }
    }
  }
}

@import "media";
