@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__wrapper {
    background-color: $grey-color;
    padding-top: 23px;
    padding-bottom: 21px;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      margin-right: 33px;
    }
    &-form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1 1 auto;
      &__form {
        position: relative;
      }
      &__input {
        width: 475px;
        max-width: 100%;
        height: 38px;
        border-radius: 9px;
        border: 1px solid $border-color;
        padding: 12px;
        @extend %trebuchetms-400;
        font-size: 12px;
        line-height: 14px;
      }
      &__btn {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 7px;
        right: 11px;
        background-image: url("../images/header/icons/header-top-search.svg");
        background-repeat: no-repeat;
        background-color: transparent;
      }
    }
  }
  &-phone {
    width: 100%;
    height: 25px;
    justify-content: space-between;
    flex-basis: 27%;
    &__tel {
      @extend %trebuchetms-700;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: $light;
    }
  }
  &-user {
    max-width: 77px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__shopping-cart {
      position: relative;
      &::after {
        width: 16px;
        height: 16px;
        position: absolute;
        content: "1";
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $orange-color;
        color: $light;
        @extend %opensans-700;
      }
    }
  }
}

.header-bottom {
  background-color: $light;
  padding: 19px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-social {
    display: flex;
    justify-content: space-between;
    max-width: 91px;
    width: 100%;
  }
}

.menu {
  &-list {
    display: flex;
    align-items: center;
    &__item {
      display: flex;
    }
    &__item + .menu-list__item {
      margin-left: 69px;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 16px;
  height: 13px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 14px;
  &-link {
    margin-right: 86px;
  }
  &__line {
    width: 16px;
    height: 2px;
    background-color: $grey-color;
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 2px;
      background-color: $grey-color;
    }
    &::before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
}

.slider {
  &__item {
    position: relative;
  }
  &-box {
    width: 97%;
    position: absolute;
    bottom: 33px;
    left: 35px;
    &_position {
      width: 100%;
      left: 0;
    }
    &_position-3 {
      left: 23px;
    }
    &__btn {
      position: absolute;
      top: 20px;
      right: 50px;
      padding: 8px 33px 8px 33px;
    }
  }
}

.slick {
  position: relative;
  &-slide {
    margin: 0 5px;
  }
  &-track {
    display: flex;
    align-items: flex-start;
  }
  &-list {
    overflow: hidden;
  }
  &-prev,
  &-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    background-color: transparent;
  }
  &-prev {
    left: 35px;
    bottom: 50%;
    transform: translate(0, 50%);
  }
  &-next {
    right: 35px;
    bottom: 50%;
    transform: translate(0, 50%);
  }
}

.catalog {
  padding: 45px 0 85px 0;
  &__title {
    margin-bottom: 22px;
  }
  &-content {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 30px;
      position: relative;
    }
    &__right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px;
    }
    &__item {
      position: relative;
    }
    &__img {
      border-radius: 9px;
    }
    &__name {
      position: absolute;
      bottom: 0;
      padding: 13px 0 14px 19px;
      width: 100%;
      background: linear-gradient(180deg, $grey-color 0%, $grey-color 100%);
      border-radius: 0px 0px 9px 9px;
      &_games {
        padding-left: 32px;
      }
    }
    &__link {
      transition: color 0.3s;
      &:hover {
        color: $orange-color;
      }
    }
  }
}

.card {
  padding-bottom: 85px;
  &__title {
    margin-bottom: 21px;
  }
  &-slider {
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 27px 27px 0px 27px;
      max-width: 255px;
      min-height: 409px;
      border-radius: 9px;
      box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
      &_absolute {
        position: relative;
        &::after {
          position: absolute;
          top: 16px;
          right: 21px;
          padding: 4px 15px;
          border-radius: 14px;
          content: "-15%";
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $orange-color;
        }
      }

      &_padding {
        padding: 25px 20px 20px;
      }
    }
    &__info {
      max-width: 215px;
      margin: 0 auto;
      text-align: center;
      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 155px;
        margin: auto;
        margin-bottom: 9px;
        &_margin {
          margin-bottom: 20px;
        }
      }
    }
    &__title {
      font-size: 16px;
      line-height: 20px;
      text-align: left;
      margin: 0 auto;
      margin-bottom: 9px;
      &_margin {
        margin-bottom: 18px;
      }
      &_size {
        max-width: 155px;
      }
      &_style {
        max-width: 130px;
        text-align: center;
      }
      &_position {
        text-align: center;
        &-3 {
          text-align: center;
          margin-bottom: 9px;
        }
      }
    }
    &-box {
      display: flex;
      align-items: center;
      &__people {
        margin-left: 5px;
      }
      &__time {
        margin-left: 2px;
      }
    }
    &__price {
      text-align: center;
      margin-bottom: 11px;
      &_bottom {
        margin-bottom: 30px;
      }
      &_margin {
        margin-bottom: 58px;
      }
    }
    &__btn {
      max-width: 163px;
      width: 100%;
      min-height: 34px;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 18px;
      &_basket {
        position: relative;
        text-align: left;
        padding-left: 28px;
        &::after {
          position: absolute;
          right: 28px;
          content: "";
          background-image: url("../images/card/icons/icon-basket.svg");
          background-repeat: no-repeat;
          width: 22px;
          height: 22px;
        }
      }
    }
    &__img {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .slick {
    &-list {
      height: 430px;
    }
    &-prev {
      left: -55px;
    }
    &-next {
      right: -48px;
    }
  }
}

.footer {
  background-color: $grey-color;
  &-top {
    padding: 60px 0 86px 0;
    display: flex;
    justify-content: space-between;
    &__item {
      &:nth-child(2) {
        max-width: 151px;
      }
    }
    &__img {
      margin-bottom: 15px;
    }
    &__address {
      max-width: 214px;
      color: $light;
    }
    &__btn {
      padding: 14px 41px;
      margin-bottom: 26px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 15px;
    &__link {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }
  &-social {
    text-align: right;
  }
  &-bottom {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__item {
      max-width: 340px;
      &:first-child {
        max-width: 250px;
      }
      &:last-child {
        text-align: right;
      }
    }
    &__copy {
      max-width: 235px;
      opacity: 0.44;
    }
    &__conf {
      text-decoration: underline;
    }
    &__terms {
      text-align: right;
      opacity: 0.44;
    }
  }
  &-link {
    &__links {
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &-pay {
    &__link {
      line-height: 30px;
      margin-bottom: 0;
    }
  }
}

@import "media";
