@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-color: $grey-color;
  padding-top: 23px;
  padding-bottom: 21px;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-form {
      max-width: 475px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-basis: 48%;
      &__input {
        width: 475px;
        max-width: 100%;
        height: 38px;
        border-radius: 9px;
        border: 1px solid $border-color;
        padding: 12px;
        @extend %trebuchetms-400;
        font-size: 12px;
        line-height: 14px;
      }
      &__btn {
        width: 21px;
        height: 21px;
        position: absolute;
        top: 7px;
        right: 11px;
        background-image: url("../images/header/icons/header-top-search.svg");
        background-repeat: no-repeat;
        background-color: transparent;
      }
    }
  }
  &-phone {
    max-width: 219px;
    width: 100%;
    height: 25px;
    justify-content: space-between;
    &__tel {
      @extend %trebuchetms-700;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: $light;
    }
  }
  &-user {
    max-width: 77px;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    &__shopping-cart {
      position: relative;
      &::after {
        width: 16px;
        height: 16px;
        position: absolute;
        content: "1";
        top: -5px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: $orange-color;
        color: $light;
        @extend %opensans-700;
      }
    }
  }
}

.footer {
  background-color: $grey-color;
  &-top {
    padding: 60px 0 86px 0;
    display: flex;
    justify-content: space-between;
    &__item {
      &:nth-child(2) {
        max-width: 151px;
      }
    }
    &__img {
      margin-bottom: 15px;
    }
    &__address {
      max-width: 214px;
      color: $light;
    }
    &__btn {
      padding: 14px 41px;
      margin-bottom: 26px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 15px;
    &__link {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }
  &-social {
    text-align: right;
  }
  &-bottom {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__item {
      max-width: 340px;
      &:first-child {
        max-width: 250px;
      }
      &:last-child {
        text-align: right;
      }
    }
    &__copy {
      max-width: 235px;
      opacity: 0.44;
    }
    &__conf {
      text-decoration: underline;
    }
    &__terms {
      text-align: right;
      opacity: 0.44;
    }
  }
  &-link {
    &__links {
      line-height: 30px;
      margin-bottom: 0;
    }
  }
  &-pay {
    &__link {
      line-height: 30px;
      margin-bottom: 0;
    }
  }
}

@import "media";
